<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Listado de Productos
  </div>
  <div class="card-body">
    <div class="form-group">
      <button class="btn btn-success" routerLink="/create">Agregar</button>
    </div>
    <table class="table table-hover" *ngIf="products && products.length">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Costo</th>
          <th>Cantidad</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price.toLocaleString('en-US', { style: 'currency',currency: 'USD' }) }}</td>
          <td>{{product.cost.toLocaleString('en-US', { style: 'currency',currency: 'USD' })}}</td>
          <td>{{product.quantity}}</td>
          <td>
            <div class="float-right">
              <button class="btn btn-warning float-right" (click)="deleteProduct(product.id)">Eliminar</button>
              <button class="btn btn-success float-right" [routerLink]="['/edit/', product.id]">Editar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>